
<% if current_user %>
  <div>
    <% @reservations.each do |reservation| %>
      <p>Reservation Time: <%= reservation.restaurant_id %></p>
      <p>Reservation Time: <%= reservation.user_id %></p>
      <p>Reservation Time: <%= reservation.time %></p>
      <p>Reservation Time: <%= reservation.date %></p><br />
    <% end %>
  </div>
<% end %>
